[Desktop Entry]
Name=KDots
Name[ast]=KDots
Name[bs]=KDots
Name[cs]=KDots
Name[de]=KDots
Name[es]=KDots
Name[et]=KDots
Name[fi]=KDots
Name[fr]=KDots
Name[ga]=KDots
Name[gl]=KDots
Name[hu]=KDots
Name[mr]=के-डॉट्स
Name[nl]=KDots
Name[pl]=Kropki
Name[pt]=KDots
Name[pt_BR]=KDots
Name[sk]=KDots
Name[sv]=Kdots
Name[tr]=KDots
Name[uk]=KDots
Name[x-test]=xxKDotsxx
Exec=kdots
#Icon=kdots
Type=Application
Categories=Qt;KDE;Game;BoardGame;
GenericName=Game of dots
GenericName[bs]=Igra tačaka
GenericName[de]=Spiel mit Punkten
GenericName[es]=Juego de puntos
GenericName[et]=Punktimäng
GenericName[fi]=Pistepeli
GenericName[fr]=Jeu de points
GenericName[ga]=Cluiche poncanna
GenericName[gl]=Xogo de puntos
GenericName[hu]=A pontok játéka
GenericName[mr]=बिंदूंचा खेळ
GenericName[nl]=Spel met punten
GenericName[pl]=Gra w kropki
GenericName[pt]=Jogo de pontos
GenericName[pt_BR]=Jogo de pontos
GenericName[sk]=Bodová hra
GenericName[sv]=Punktspel
GenericName[tr]=Nokta Oyunu
GenericName[uk]=Гра у крапки
GenericName[x-test]=xxGame of dotsxx
Terminal=false
