[Desktop Entry]
Name=KDots
Name[nl]=KDots
Name[pt_BR]=KDots
Name[sv]=Kdots
Name[uk]=KDots
Name[x-test]=xxKDotsxx
Exec=kdots
#Icon=kdots
Type=Application
Categories=Qt;KDE;Game;BoardGame;
GenericName=Game of dots
GenericName[nl]=Spel met punten
GenericName[pt_BR]=Jogo de pontos
GenericName[sv]=Punktspel
GenericName[uk]=Гра у крапки
GenericName[x-test]=xxGame of dotsxx
Terminal=false
