[Desktop Entry]
Name=KDots
Name[en_GB]=KDots
Name[es]=KDots
Name[fi]=KDots
Name[fr]=KDots
Name[nl]=KDots
Name[pl]=Kropki
Name[pt]=KDots
Name[pt_BR]=KDots
Name[sk]=KDots
Name[uk]=KDots
Name[x-test]=xxKDotsxx
Exec=kdots
#Icon=kdots
Type=Application
Categories=Qt;KDE;Game;BoardGame;
GenericName=Game of dots
GenericName[en_GB]=Game of dots
GenericName[es]=Jugo de puntos
GenericName[fi]=Pistepeli
GenericName[fr]=Jeu de points
GenericName[nl]=Spel met punten
GenericName[pl]=Gra w kropki
GenericName[pt]=Jogo de pontos
GenericName[pt_BR]=Jogo de pontos
GenericName[sk]=Bodová hra
GenericName[uk]=Гра у крапки
GenericName[x-test]=xxGame of dotsxx
Terminal=false
