1.0
NM SE NM
FI CU FI
NM SE NM
/
0.9
SE PF NM
FI CU PF
NM SE NM
/
0.9
NM SE PF
FI FI CU
NM SE PF
/
0.05
SE NM PF
NM CU NM
PF NM SE
/
0.8
NM FI NM NM
EM EM SE NM
NM CU EM FI
NM NM EM NM
/
0.7
NM FI NM
FI SE EM
PF CU PF
NM SE NM
/
0.2
NM FI NM
FI SE EM
NM CU NM
/
1.0
NM EM NM NM
FI SE CU NM
NM FI SE EM
NM NM FI NM
/
0.2
NM FI NM
PF SE CU
NM FI NM
/
0.05
NM SE NM
PF CU PF
NM SE NM
/
0.01
PF PF CU
EM EM EM
PF SE PF
NM SE NM
/
0.05
NM PF NM
FI EM CU
PF SE EM
NM SE NM
/
-0.5
NM FI NM
FI CU FI
/
0.05
NM SE NM
NM EM NM
PF CU PF
NM SE NM
/
0.05
NM SE NM
NM EM NM
PF CU PF
NM EM NM
NM SE NM
/
0.05
NM SE NM
NM EM NM
PF CU PF
NM EM NM
NM EM NM
NM SE NM
/
0.05
NM SE NM
NM EM NM
NM EM NM
PF CU PF
NM EM NM
NM EM NM
NM SE NM
/
0.05
NM NM SE
PF CU PF
NM SE NM
/
0.05
NM SE NM
PF CU PF
PS EM NM
SE NM NM
/
0.05
NM SE NM
NM EM NM
PF CU PF
PS EM NM
SE NM NM
/
0.05
NM SE
NM EM
PF EM
PF CU
SE NM
/
0.1
NM SE NM
PF FI CU
NM SE NM
/
0.1
NM SE NM
PF FI CU
NM EM EM
NM SE NM
/
0.1
NM SE NM
NM EM EM
PF FI CU
NM EM EM
NM SE NM
/
0.05
NM SE
PF EM
PF CU
SE NM
/
-0.5
SE CU
SE SE
/
0.8
NM NM EM EM NM
NM CU EM EM SE
EM EM FI NM NM
NM SE NM NM NM
/
0.8
NM NM EM EM NM
NM CU EM EM SE
EM EM PF FI NM
NM SE NM NM NM
/
0.9
FI SE
CU FI
SE NM
/
0.1
NM SE NM
NM EM EM
NM EM EM
PF FI CU
NM SE NM
/
0.1
NM SE NM
NM EM EM
NM EM EM
PF FI CU
NM EM EM
NM SE NM
/
0.1
NM SE
NM EM
FI CU
SE NM
/
0.1
SE FI NM
FI CU NM
NM NM SE
/
